<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>设备控制</title>
	<link rel="shortcut icon" href="favicon.ico"> <link href="/statics/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico"> <link href="/statics/css/bootstrapSwitch.css?v=3.3.6" rel="stylesheet">
    <!-- 引入 echarts.js -->
	 <script src="/statics/js/jquery.min.js?v=2.1.4"></script>
    <script src="/statics/js/bootstrapSwitch.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
	<div class="container">
		<ul class="list-group">
			<li class="list-group-item">欢迎进入物联网实时监控系统</li>
		</ul>
		<div class="row" >

			<div class="col-md-12" style="border-left:red 2px solid;height:400px;">
				<ul class="list-group">
					<li class="list-group-item">设备控制</li>
				</ul>

                <div>
                    <h2>控制设备开关</h2>
                        <div class="switch" id="myswitch1" style="margin-right:100px;">
                                  <input type="checkbox"  />
                         </div>
                    </div>
			</div>
		</div>


	</div>
    <script type="text/javascript">



    	 function sendToServer(url)
        {
			console.log(url);
             $.ajax({
                  async:true,
                    url:url,
                    type:"GET",
					success:function(data){
						console.log("success!");
					},
               });

        }
		var ledUrl="http://120.76.28.207:5005/?id=17864228068&command=transmitOther&data=";
	$("#myswitch1").on("switch-change",function(e,data){
      var value=data.value;
        if(value)
        {
         //   switch1="1"
		    sendToServer(ledUrl+"1");
        }
        else
        {

            sendToServer(ledUrl+"0");
        }

    });


 </script>






















</body>
</html>